.question{
    width: 100%;
    padding: 10px 5px;
    font-size: 1.3rem;
    font-weight: bold;
    font-variant: small-caps;
    border: 1px dashed black;
    margin: 3px 0;
}
.unans{
    background-color: lightgray;
}
.correct{
    background-color: lightseagreen;
}
.wrong{
    background-color: red;
}